<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
  <form style="display: flex; flex-direction: column; align-items: center; justify-content: center;" action="{{ url_for('auth.signup') }}" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="telephone" placeholder="Telephone">
    <input type="password" name="password" placeholder="Password">
    <input type="checkbox" name="remember">
    <button type="submit">Login</button>
  </form>
</body>
</html>