{% extends "layout/base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="w-100 alert alert-{{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>
  {% endif %}
{% endwith %}
<span class="my-3"></span>
<form class="col-md-3 d-flex flex-column justify-content-center align-items-center" action="{{ url_for('auth.signup') }}" method="POST">
  <div class="mb-2 w-100">
    <label for="input-email" class="form-label">Name</label>
    <input type="text" class="form-control" id="input-email" name="name">
  </div>
  <div class="mb-2 w-100">
    <label for="input-email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="input-email" name="email">
  </div>
  <div class="mb-2 w-100">
    <label for="input-email" class="form-label">Telephone</label>
    <input type="text" class="form-control" id="input-email" name="telephone">
  </div>
  <div class="mb-2 w-100">
    <label for="options" class="form-label">Gender</label>
    <div id="options" class="w-100 d-flex flex-row justify-content-start">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male-radio" value="M">
        <label class="form-check-label" for="male-radio">
          Male
        </label>
      </div>
      <div class="form-check ms-4">
        <input class="form-check-input" type="radio" name="gender" id="female-radio" value="F">
        <label class="form-check-label" for="female-radio">
          Female
        </label>
      </div>
    </div>
  </div>
  <div class="mb-2 w-100">
    <label for="input-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="input-password" name="password">
  </div>
  <button type="submit" class="btn btn-primary w-100 fw-bold mt-3">Sign Up</button>
</form>
{% endblock %}
