{% extends "held/index.html" %}

{% block held_event_content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="w-100 alert alert-{{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>
  {% endif %}
{% endwith %}
<form class="d-flex flex-column justify-content-center align-items-center container-fluid me-lg-4 mb-4" enctype="multipart/form-data" action="{{ url_for('held.update', id=event.id) }}" method="POST">
  <input type="hidden" class="form-control" id="input-title" name="id" value="{{ event.id }}" required>
  <div class="mb-2 w-100">
    <label for="input-title" class="form-label fw-bold">Event Title</label>
    <input type="text" class="form-control" id="input-title" name="title" value="{{ event.title }}" required>
  </div>
  <div class="mb-2 w-100 form-floating">
    <p class="mb-2 fw-bold">Description</p>
    <textarea class="form-control p-2" id="input-description" name="description" required>{{ event.description }}</textarea>
  </div>
  <div class="mb-2 w-100">
    <label for="input-speaker" class="form-label fw-bold">Speaker</label>
    <input type="text" class="form-control" id="input-speaker" name="speaker" value="{{ event.speaker }}" required>
  </div>
  <div class="mb-2 w-100">
    <label for="input-due-date" class="form-label fw-bold">Registration Due Date</label>
    <input type="date" class="form-control" id="input-due-date" name="due-date" value="{{ event.due_date }}" required>
  </div>
  <div class="mb-2 w-100">
    <label class="form-label fw-bold">Category</label>
    <select class="form-select" id="category" name="category" required>
      {% set options = ['Webinar', 'Workshop', 'Talkshow', 'Online Bootcamp'] -%}
      {% for option in options %}
        {% if option == event.category %}
          <option value="{{ option }}" selected>{{ option }}</option>
        {% else %}
          <option value="{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="mb-2 container d-flex flex-row justify-content-between px-0">
    <div class="col-5">
      <label for="input-start-date" class="form-label fw-bold">Start Date</label>
      <input type="date" class="form-control" id="input-held-date" name="start-date" value="{{ event.start_date }}" required>
      <div class="mt-2 col-12">
        <label for="input-start-time" class="form-label fw-bold">Start Time</label>
        <input type="time" id="input-start-time" name="start-time" value="{{ event.start_time }}" required>
      </div>
    </div>
    <div class="col-5">
      <label for="input-end-date" class="form-label fw-bold">End Date</label>
      <input type="date" class="form-control" id="input-end-date" name="end-date" value="{{ event.end_date }}" required>
      <div class="mt-2 col-12">
        <label for="input-end-time" class="form-label fw-bold">End Time</label>
        <input type="time" id="input-end-time" name="end-time" value="{{ event.end_time }}" required>
      </div>
    </div>
  </div>
  <div class="mb-2 w-100">
    <label class="form-label fw-bold" for="input-photo">Pictures</label>
    <input type="file" class="form-control w-lg-100" id="input-photo" name="photo">
  </div>
  <button type="submit" class="btn btn-primary w-100 fw-bold mt-3">Update Event</button>
</form>
{% endblock %}
