<div class="container col-lg-3 mb-3 m-lg-0 d-flex flex-row flex-lg-column justify-content-lg-start justify-content-between align-items-center">
  {% set sidenav = [
    ('/participate/', 'participate', 'Participate Event'),
    ('/held/', 'held', 'Held Event')  
  ] -%}

  {% for href, id, caption in sidenav %}
  {% set side_button = "btn align-self-stretch my-2 bg-white shadow-sm py-3 mx-2 mx-lg-0 col-5 col-lg-12" -%}
  <a
    type="button"
    style="border-radius: 12px;"
    {% if request.path == href %} class="{{ side_button }} border-primary border-2" 
    {% else %} class="{{ side_button }}" 
    {% endif %} 
    href="{{ href }}"
  >
    <img src="{{ url_for('static', filename='images/' + id + '.svg') }}" width="100">
    <p class="mt-2 mb-0"><strong>{{ caption }}</strong></p>
  </a>
  {% endfor %}
</div>